._*.*
*.DS_Store
*.sublime-project
*.sublime-workspace
cscope.*
tags
.tags
.tags-*
compile_commands.json

*.o
*.pyc
*.exe

makefile
S_job_execution
S_run_summary
send_hs
varserver_log
S_sie.resource
S_default.dat
S_source.hh

build
trick
DP_Product/

*.csv
*.header

*/S_job_execution
*/S_run_summary
*/*.trk
*/*.csv
*/*.header

MONTE_RUN_golden/RUN_*
MONTE_RUN_golden/monte_header
MONTE_RUN_golden/monte_runs
MONTE_RUN_golden/run_summary

MONTE_RUN_monte

!golden*.csv
