._*
*.DS_Store
*.sublime-project
*.sublime-workspace

*.o
*.pyc
*.exe

makefile
S_job_execution
S_run_summary
send_hs
varserver_log
S_sie.resource
S_default.dat
S_source.hh

build
trick
DP_Product/

*/S_job_execution
*/S_run_summary
*/*.trk
*/*.csv
*/*.header

!RUN_test/golden.csv
